<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Texture generation</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<form class="upload_image_div" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" name="upload_button" value="Upload">
</form>
</body>
</html>