<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" name="submit_button" value="Upload">
</form>

<img src="{{ url_for('display_segment_image', filename=segmented_image) }}">
<form method="post" enctype="multipart/form-data">
    <input type="submit" name="submit_button" value="Decompose" onclick="$('.loader').show();">
</form>
<div class="loader"></div>
</body>
</html>